@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

html {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
}

/* 800px 미만일 경우 가로 스크롤 활성화 */
@media (width <= 799px) {
  body {
    overflow-x: auto;
  }
}

:root {
  --color-red-50: #ffd2cc;
  --color-red-100: #ffaba1;
  --color-red-200: #ff0045;
  --color-red-300: #b70055;
  --color-bg: #faf7f5;
  --color-gray-100: #8b8b8b;
  --color-gray-200: #555;
  --color-gray-300: #3d3d3d;
}

/* fonts */

/* home fonts */
.font-home-title {
  font-style: normal;
  font-size: 8.2rem;
  font-weight: 900;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.06rem;
}

.font-home-body {
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

/* city fonts */
.font-city-heading {
  color: var(--color-gray-300);
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* 현재 시간 */
.font-city-time {
  color: var(--color-gray-200);
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* 도시명 */
.font-city-title {
  color: var(--color-gray-300);
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* 인구수 */
.font-city-population {
  color: var(--color-gray-100);
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* 기온 */
.font-city-temp {
  color: var(--color-gray-300);
  font-style: normal;
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* 날씨 설명 */
.font-city-desc {
  color: var(--color-gray-100);
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  line-height: 140%;
  letter-spacing: -0.0375rem;
}

/* 5-day Forecast */
.font-city-subtitle {
  color: var(--color-gray-300);
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
}

/* 날짜, 온도 */
.font-city-body {
  color: var(--color-gray-300);
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  letter-spacing: -0.0375rem;
}

/* clear sky */
.font-city-caption {
  color: var(--color-gray-100);
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.0375rem;
}
