.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding-top: 6.31rem;
}

.cityList {
  display: inline-flex;
  gap: 0.62rem;
}
