/* styles/Layout.module.css */

.layout {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* 800px ~ 1279px */
@media (max-width: 1279px) and (min-width: 800px) {
  .layout {
    max-width: 100%;
    margin: 0;
  }
}

/* 800px 미만 */
@media (max-width: 799px) {
  .layout {
    width: 100%;
    min-width: 800px;
  }
}
