.layout {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* 800px ~ 1279px */
@media (width <= 1279px) and (width >= 800px) {
  .layout {
    max-width: 100%;
    margin: 0;
  }
}

/* 800px 미만 */
@media (width <= 799px) {
  .layout {
    min-width: 800px;
  }
}
